In [62]:
import sklearn
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys
from sklearn.model_selection import train_test_split

In [63]:
file_path = './generated_dataset_new.csv'
data = pd.read_csv(file_path)
data.head()

,username,service_provider_username,service,price,no_of_pages,topic,date,deadline
0,user1,provider1,Backend,1000,4,Topic1,2024-02-19,2024-02-28
1,user2,provider2,PPT,350,16,Topic2,2024-02-05,2024-02-20
2,user3,provider3,Website,1750,7,Topic3,2024-02-14,2024-02-17
3,user4,provider4,CaseStudy,150,6,Topic4,2024-03-04,2024-03-19
4,user5,provider5,PPT,300,14,Topic5,2024-02-27,2024-03-03

In [64]:
columns_to_keep = ['username', 'service_provider_username', 'service', 'price', 'no_of_pages', 'topic','date', 'deadline']
data = data[columns_to_keep].dropna()
data.head()

,username,service_provider_username,service,price,no_of_pages,topic,date,deadline
0,user1,provider1,Backend,1000,4,Topic1,2024-02-19,2024-02-28
1,user2,provider2,PPT,350,16,Topic2,2024-02-05,2024-02-20
2,user3,provider3,Website,1750,7,Topic3,2024-02-14,2024-02-17
3,user4,provider4,CaseStudy,150,6,Topic4,2024-03-04,2024-03-19
4,user5,provider5,PPT,300,14,Topic5,2024-02-27,2024-03-03

In [65]:
y=data['price']
features=['service','no_of_pages','date','deadline']
X=data[features]
X.describe()

        no_of_pages
count  10000.000000
mean       6.288800
std        3.969782
min        1.000000
25%        4.000000
50%        5.000000
75%        6.000000
max       20.000000

In [66]:
data['date'] = pd.to_datetime(data['date'])
data['deadline'] = pd.to_datetime(data['deadline'])
data['days']=data['deadline']-data['date']

In [67]:
data.drop(['date','deadline'],axis=1,inplace=True)

In [68]:
data.drop(['username','service_provider_username'],axis=1,inplace=True)

In [69]:
data['days']=data['days'].dt.days
data.head()

     service  price  no_of_pages   topic  days
0    Backend   1000            4  Topic1     9
1        PPT    350           16  Topic2    15
2    Website   1750            7  Topic3     3
3  CaseStudy    150            6  Topic4    15
4        PPT    300           14  Topic5     5

In [70]:
data.drop(['topic'],axis=1,inplace=True)

In [71]:
data

        service  price  no_of_pages  days
0       Backend   1000            4     9
1           PPT    350           16    15
2       Website   1750            7     3
3     CaseStudy    150            6    15
4           PPT    300           14     5
...         ...    ...          ...   ...
9995        PPT    200           10    11
9996  CaseStudy    150            6     2
9997       Docs    375           19     6
9998   Frontend   1150            4     4
9999   Frontend   1300            4     1

[10000 rows x 4 columns]

In [72]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.ensemble import RandomForestRegressor
y=data['price']
features=['service','no_of_pages','days']
X=data[features]
X.describe()
OrdinalEncoder=OrdinalEncoder()
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

lable_X_train=X_train.copy()
lable_X_test=X_test.copy()

lable_X_train[['service']]=OrdinalEncoder.fit_transform(X_train[['service']])
lable_X_test[['service']]=OrdinalEncoder.transform(X_test[['service']])

model=RandomForestRegressor(n_estimators=100,random_state=0)
print(lable_X_train)
print(lable_X_test)

      service  no_of_pages  days
8767      7.0            3     7
3134      2.0            6    15
2557      6.0           12    11
7878      7.0            4    14
4206      0.0            5    10
...       ...          ...   ...
972       6.0            6     6
7523      4.0            5    14
8510      5.0            4     2
3063      3.0           16    10
6865      2.0            6     1

[8000 rows x 3 columns]
      service  no_of_pages  days
317       1.0            4     2
5477      0.0            3     6
4068      0.0            3    14
279       3.0           13    12
2238      7.0            5     1
...       ...          ...   ...
4298      2.0            6    13
4093      7.0            3    11
6079      1.0            4     1
6126      0.0            4     6
5443      2.0            6     9

[2000 rows x 3 columns]

In [73]:
from sklearn.metrics import mean_absolute_error
def get_score(model,X_train,X_test,y_train,y_test):
    model.fit(X_train,y_train)
    preds=model.predict(X_test)
    return mean_absolute_error(y_test,preds)

In [74]:
get_score(model,lable_X_train,lable_X_test,y_train,y_test)

0.456375

In [75]:
from sklearn.metrics import mean_squared_error
model.fit(lable_X_train,y_train)
preds=model.predict(lable_X_test)

accuracy=mean_squared_error(y_test,preds)
accuracy

86.19671875

In [76]:
from sklearn.metrics import r2_score
r2=r2_score(y_test,preds)
r2

0.9998230308639477

In [80]:

new_data = {
    "service":7,
    "no_of_pages":8,
    "days":5,
}

input_data_as_numpy_array = np.array([
    new_data["service"],new_data["no_of_pages"], new_data["days"]
]).reshape(1, -1)

prediction = model.predict(input_data_as_numpy_array)
print("Predicted Price:", prediction[0])

Predicted Price: 1650.0

d:\Python\Lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [108]:

new_data = {
    "service":7,
    "no_of_pages":7,
    "days":3,
}
input_data_as_numpy_array = np.array([
    new_data["service"], new_data["no_of_pages"], new_data["days"]
]).reshape(1, -1)

prediction = model.predict(input_data_as_numpy_array)

decoded_service_value = OrdinalEncoder.inverse_transform([[new_data["service"]]])[0][0] if new_data["service"] < len(OrdinalEncoder.categories_[0]) else None

print("Original Decoded Values:")
print("Service:", decoded_service_value)
print("No. of Pages:", new_data["no_of_pages"])
print("Days:", new_data["days"])
print("Predicted Price:", prediction[0])

Original Decoded Values:
Service: Website
No. of Pages: 7
Days: 3
Predicted Price: 1750.0

d:\Python\Lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [109]:
# Mapping the service values to their original values
# 0 -> App
# 1 -> Backend
# 2 -> Case Study
# 3 -> Docs
# 4 -> Figma
# 5 -> Frontend
# 6 -> PPT
# 7 -> Website

In [110]:
import sklearn
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Load and preprocess data
file_path = './generated_dataset_new.csv'
data = pd.read_csv(file_path)
columns_to_keep = ['username', 'service_provider_username', 'service', 'price', 'no_of_pages', 'topic', 'date', 'deadline']
data = data[columns_to_keep].dropna()
y = data['price']
data['date'] = pd.to_datetime(data['date'])
data['deadline'] = pd.to_datetime(data['deadline'])
data['days'] = (data['deadline'] - data['date']).dt.days
data.drop(['date', 'deadline', 'topic'], axis=1, inplace=True)

# Feature selection
features = ['service', 'no_of_pages', 'days']
X = data[features]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Encode 'service' using OrdinalEncoder
ordinal_encoder = OrdinalEncoder()
X_train[['service']] = ordinal_encoder.fit_transform(X_train[['service']])
X_test[['service']] = ordinal_encoder.transform(X_test[['service']])

# Train a linear regression model
linear_model = LinearRegression()
linear_model.fit(X_train, y_train)

# Make predictions on the test set
linear_preds = linear_model.predict(X_test)

# Calculate mean squared error
linear_accuracy = mean_squared_error(y_test, linear_preds)
print("Linear Regression Mean Squared Error:", linear_accuracy)

# Make a prediction for the new data
input_data_as_numpy_array = np.array([new_data["service"], new_data["no_of_pages"], new_data["days"]]).reshape(1, -1)
linear_prediction = linear_model.predict(input_data_as_numpy_array)
print("Linear Regression Predicted Price:", linear_prediction[0])

Linear Regression Mean Squared Error: 405465.81141072593
Linear Regression Predicted Price: 769.6028009682424

d:\Python\Lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [113]:
# Input values for prediction
new_data = {
    "service": 7,
    "no_of_pages": 7,
    "days": 3,
}

# Convert input data to a numpy array
input_data_as_numpy_array = np.array([
    new_data["service"], new_data["no_of_pages"], new_data["days"]
]).reshape(1, -1)

# Predictions using RandomForestRegressor
rf_prediction = model.predict(input_data_as_numpy_array)
print("Random Forest Predicted Price:", rf_prediction[0])

# Predictions using LinearRegression
linear_prediction = linear_model.predict(input_data_as_numpy_array)
print("Linear Regression Predicted Price:", linear_prediction[0])

Random Forest Predicted Price: 1750.0
Linear Regression Predicted Price: 769.6028009682424

d:\Python\Lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(
d:\Python\Lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(