In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
data=pd.read_csv('freelancer_services.csv')
data

,freelancer_id,service,project_name,client_rating,project_duration,earnings
0,test@gmail.com,Frontend,FrontendProject1,4.5,6,1580
1,test@gmail.com,Docs,DocsProject2,4.0,4,404
2,test@gmail.com,Figma,FigmaProject3,4.4,1,1604
3,raghav@gmail.com,Frontend,FrontendProject4,4.1,3,2786
4,nishtha@gmail.com,Website,WebsiteProject5,4.1,5,2427
...,...,...,...,...,...,...
4995,test@gmail.com,Website,WebsiteProject4996,3.6,4,2611
4996,anushka@gmail.com,App,AppProject4997,4.4,6,4045
4997,raghav@gmail.com,Website,WebsiteProject4998,3.7,1,2371
4998,test@gmail.com,Website,WebsiteProject4999,4.4,4,1736
4999,test@gmail.com,Backend,BackendProject5000,4.7,4,2274

In [4]:
data.describe()

       client_rating  project_duration     earnings
count    5000.000000       5000.000000  5000.000000
mean        4.247160          3.528000  1780.043400
std         0.429032          1.714352  1175.629347
min         3.500000          1.000000   100.000000
25%         3.900000          2.000000   611.000000
50%         4.200000          4.000000  1771.000000
75%         4.600000          5.000000  2602.000000
max         5.000000          6.000000  4999.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   freelancer_id     5000 non-null   object
 1   service           5000 non-null   object
 2   project_name      5000 non-null   object
 3   client_rating     5000 non-null   float64
 4   project_duration  5000 non-null   int64
 5   earnings          5000 non-null   int64
dtypes: float64(1), int64(2), object(3)
memory usage: 234.5+ KB

In [6]:
data.isnull().sum()

freelancer_id       0
service             0
project_name        0
client_rating       0
project_duration    0
earnings            0
dtype: int64

In [7]:
data['service'].value_counts()

Docs        752
Backend     739
Website     727
App         707
PPT         701
Figma       699
Frontend    675
Name: service, dtype: int64

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()

In [9]:
service_matrix = tfidf.fit_transform(data['service'])

In [10]:
cosine_sim = cosine_similarity(service_matrix,service_matrix)
cosine_sim

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 1., 0.],
       [0., 0., 0., ..., 1., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [13]:
# Calculate the similarity between completed services and all other services
user_completed_service_index = data[data['freelancer_id'] == 'kaushik@gmail.com'].index[0]
similarities = cosine_sim[user_completed_service_index]
# print(user_completed_service_index)
print(similarities)
# Sort the services based on similarity scores
sorted_indices = np.argsort(similarities)[::-1]

# Filter out the completed services
recommended_services = [data.iloc[i]['service'] for i in sorted_indices if i != user_completed_service_index]

# Return the top recommended services
top_recommended_services = recommended_services[:15]  # Change the number as per your requirement

top_recommended_services

[0. 0. 0. ... 0. 0. 0.]

['App',
 'App',
 'App',
 'App',
 'App',
 'App',
 'App',
 'App',
 'App',
 'App',
 'App',
 'App',
 'App',
 'App',
 'App']